*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.container{
    height: 80%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.title{
    font-size: 35px;
    font-weight: bold;
}
.author{
    font-style: italic;
    margin-bottom: 20px;
}